html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
font-family: "indivisible", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 20px;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}


header{
  grid-column: span 12;
  background-color: #111111;
  background-image: url(danielPhotos/sit1.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 300px;
}


.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
font-family: "indivisible", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 60px;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}



#magic {

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
}

.playground{

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.bottomPosition{

  text-align: center;
  margin-bottom: 50px;
  
}
.minText{
  
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}



#section1 {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

.text {
  width: 100%;
  left: 50%;
  grid-column: span 12;
  height: 40px;
  top: 50%;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: -20px;
  background-color: #262626;
  font-family: "indivisible", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #FF6B00;
}

.belize {
  color: #146EF4;
}

.pomegranate {
  color: #ED52CB;
}

.green {
  color: #00D721;
}

.midnight {
  color: #EE1E36;
}




#section2 {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}



.mainpic{
  margin: 20px;
  grid-column: span 4;
  display: inline-block;
  position: relative;
  width: 350px;
  background-color: #414141;
}

.mainpic {
  --s: 350px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #ED52CB; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
}
.mainpic:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.mainpic a {
  padding: 50px;
  text-decoration: none;
  text-align: center;
}

#section3 {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#section3 h2{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #262626;
  width: 1200px;
}

h1{
  color: #ffffff;
  grid-column: span 12;
  text-align: center;
  
  font-family: "indivisible", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

h2{
  grid-column: span 6;
  text-align: center;
  font-family: "indivisible", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

#Me{
  grid-column: span 6;
}

@keyframes infiniteScroll {
  from {transform: translateX(0) }
  to {transform: translateX(calc(0px - 50% - 25px));}
}
.skills {
  grid-column: span 12;
  background-color: #111111;
  width: 100%;
  padding-top: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow-x: hidden;
}
.horizontal-scrolling-skills {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 200px;
  gap: 50px;
}
.horizontal-scrolling-skills-logos {
  white-space: nowrap;
  height: 100%;
  width: 200px;
  background-size: cover;
}

#portrait{
  float: right;
}

main{
  color: #ffffff;
  grid-column: span 12;
  float:right;
  }

main h2 {
  grid-column: span 12;

}

#section4{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #262626;
  width: 1200px;
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}



.socials {
  grid-column: span 1;
  left: 90%;
  position: fixed;
  top: 300px;

}

.socials ul {
  background-color: #414141;
  list-style-type: none;
}

.socials li{
  width: 74px;
  color: #B3B3B3;
}

.socials li a {  
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  color: #B3B3B3;
}

nav li a:hover {
  background-color: #171717;
  color: #B3B3B3;
}

nav{
  grid-column: span 12;
  margin: 0px auto;
  position: sticky;
  top: 20px;

}

nav ul {
background-color: #414141;
  padding: 0px;
  list-style-type: none;
}

nav li{
  margin: 2px solid #414141;
  background-color: #414141;
  display: inline-flex;
  color: #B3B3B3;
}

nav li a {  
  transition: 0.5s;
  background-color: #414141;
  color: #ffffff;
  padding: 20px 110px;
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: #B3B3B3;
}

nav li a:hover {
  color: #B3B3B3;
}


/* Orange */
.success {
  border-color: #FF6B00;
  color: #FF6B00;
}

.success:hover {
  background-color: #FF6B00;
  color: white;
}

/* Blue */
.info {
  border-color: #146EF4;
  color: #146EF4
}

.info:hover {
  background: #146EF4;
  color: white;
}

/* Pink*/
.warning {
  border-color: #ED52CB;
  color: #ED52CB;
}

.warning:hover {
  background: #ED52CB;
  color: white;
}

/* Green */
.danger {
  border-color: #00D721;
  color: #00D721
}

.danger:hover {
  background: #00D721;
  color: white;
}





.autoscroll {
  float: none; 
  clear: both;
  width: 75px; 
  margin: 10% -100px;
  background: #111111;
  position: fixed;
}

.autoscroll ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.autoscroll li{
  float: none; 
  width: 100%;
  height: 75px;
}

.autoscroll li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  border-left: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}
  
.autoscroll li a:hover{ border-bottom: 0px; color: #111111;}
.autoscroll li:first-child a{ border-left: 10px solid #FF6B00; }
.autoscroll li:nth-child(2) a{ border-left: 10px solid #146EF4; }
.autoscroll li:nth-child(3) a{ border-left: 10px solid #ED52CB; }
.autoscroll li:last-child a{ border-left: 10px solid #00D721; }

.autoscroll li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

.autoscroll li a:hover:after{ width: 100%; }
.autoscroll li:first-child a:after{ background: #FF6B00; }
.autoscroll li:nth-child(2) a:after{ background: #146EF4; }
.autoscroll li:nth-child(3) a:after{ background: #ED52CB; }
.autoscroll li:last-child a:after{ background: #00D721; }



.socials{
  display:inline-block;
}

.socials ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  background-color: #111111;
}

.socials ul li {
  list-style: none;
}

.socials ul li a {
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: -20px;
  font-size: 35px;
  margin: 20px 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.socials ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.socials ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socials ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.socials ul li a:hover:before {
  top: 0;
}

.socials ul li:nth-child(1) a:before{
  background: #3b5999;
}

.socials ul li:nth-child(2) a:before{
  background: #55acee;
}

.socials ul li:nth-child(3) a:before {
  background: #0077b5;
}

.socials ul li:nth-child(4) a:before {
  background: #dd4b39;
}


.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #00D721;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
footer{
  grid-column: span 12;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #262626;
  width: 1200px;
  font-family: "indivisible", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}


  

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    color: #B3B3B3;
    width: 100%;
    padding: 12px;
    border: 1px solid #171717;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #171717;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #414141;;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  